 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body{
    background-color: white;
    font-family: "Roboto", sans-serif;
    background-image: url(../images/backcover.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
     
     
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav>img{
    margin-left: 110px;
    margin-top: 40px;
    height: 60px;
 }
 .nav-items{
    display: flex;
    width: 600px;
    justify-content: space-around;
    margin-right: 50px;
     

 }
 
 .nav-item{
    margin-top: 40px;
    font-size: 20px;
    color: #341f97;
 }
 .signin-btn{
   margin-top: 40px;
   margin-right: 150px;
   height: 50px;
   width: 130px;
   border-radius: 50px;
   border: none;
   background:   linear-gradient( to right,#9b6ae9 40%, #ff86db);
   color: #fff;
   font-weight: 700;
   font-size: 20px;
    
}
.left-section h1{
    margin-left: 110px;
    margin-top: 150px;
    font-size: 90px;
    color: #341f97;
}
.left-section h4{
    margin-left: 110px;
    margin-top: 50px;
    font-size: 18px;
    width: 500px;
    color: #656080;
    font-weight: 300;
    line-height: 150%;
}
.learn-more-btn{
    margin-left: 110px;
    margin-top: 70px;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background:   linear-gradient( to right,#9b6ae9 40%, #ff86db);
    color: #fff;
    font-size: 22px;
    padding: 15px 20px;
    font-weight: 700;
    letter-spacing: 2px;

}
.vector-img{
   position: absolute;
   right: 850px;
   bottom: 120px;

}
.vector-dot{
    position: absolute;
    right: 870px;
    bottom: 210px;
}
.imgs-div img:last-child{
    position: absolute;
    bottom: 10px;
    right: 50px;
    height: 700px;
    width: 900px;

}
@media screen and (max-width: 1065px) {
   body {
       background: none;
   }

   .main-div {
       width: 88vw;
       margin: 20px 20px;
   }


   .nav {
       margin: 10px;
        
   }

   .nav-items {
       display: none;
   }

   .signin-btn {
       margin-left: 3rem;
   }

   .intro-section {
       margin: 1rem;
       flex-direction: column;
       text-align: center;
       gap: 0;
   }

   .left-section h1 {
       margin-top: 3rem;
   }

   .left-section h4 {
       font-size: 12px;
       margin-bottom: 45px;
       width: 100%;
   }

   .vector-dot {
       position: absolute;
       left: 20vw;
       bottom: 6rem;
        
   }

   .vector-img {
       position: absolute;
       bottom: 0rem;
       left: 150px;
 
   }

   .imgs-div img:last-child {
       position: absolute;
        
        height: 200px;
   }

}
@media screen and (max-width: 850px){
   .vector-dot {
       display: none;
       
  }

  .vector-img {
   display: none;

  }

  .imgs-div img:last-child {
   display: none;
  }
}